{% extends "base.html" %}

{% block title %}注文完了{% endblock %}

{% block content %}
<hgroup>
  <h1>注文完了</h1>
  <p><ins>注文を登録しました</ins> ご注文ありがとうございました。</p>
</hgroup>

<article>
  <table>
    <tbody>
      <tr>
        <th scope="row">注文番号</th>
        <td>#{{ order.id }}</td>
      </tr>
      <tr>
        <th scope="row">注文日</th>
        <td>{{ order.order_date }}</td>
      </tr>
      <tr>
        <th scope="row">会社名</th>
        <td>{{ order.company_name }}</td>
      </tr>
    </tbody>
  </table>
</article>

<table>
  <thead>
    <tr>
      <th scope="col">弁当</th>
      <th scope="col">数量</th>
      <th scope="col">単価</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}個</td>
      <td>{{ item.price | yen }}</td>
      <td>{{ item.subtotal | yen }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th scope="row">合計金額</th>
      <td colspan="3"><strong>{{ order.total_price | yen }}</strong></td>
    </tr>
  </tfoot>
</table>

<a href="/" role="button">新しい注文をする</a>
{% endblock %}
